body{
    height: 100%;
    width: 90%;
    margin: 0;
    padding: 3em;
    background-color:azure; 
    margin: 2px;}

nav > div{
    background-color: #9ce6f4;
    padding: 1em;
}
nav > div:nth-child(odd){
    background-color:aquamarine;
}

#NAVIGATION {
    display: grid;
    border: solid 5px;
    margin: 1em;
    background-color: green;
    grid-template-columns: 15% 85% ;
    grid-column-end: 1em;
    grid-auto-rows: minmax(30px, auto);
    height: 5em;
 
}
.Main{
    padding: 2em;
    margin: 1em;
    border: 1em;
    background-color: white;
    border :solid 5px ;
   
    height: 400px;
     background: url(12345.jpg);   
    background-size: cover;
    
}
.naviga {
    display: grid;
    grid-template-columns: repeat(10,1fr );
    grid-gap: 1em;
}
.Footer{
    display: grid;
    grid-template-columns: repeat(4 ,1fr) ;
    
     padding: 1em;
    margin: 2em;
    border: 1em;
    background-color: #ddd;
    border :solid 5px ;
    height: 2em;
    
    
}



